In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [7]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv('weather_data/cities.csv')
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Novobirilyussy,RU,2022-07-14 00:21:42,56.9514,90.6661,51.28,76,70,3.29
1,1,Tynda,RU,2022-07-14 00:21:42,55.1667,124.7167,66.52,89,100,2.68
2,2,Ushuaia,AR,2022-07-14 00:17:12,-54.8000,-68.3000,35.26,80,40,8.05
3,3,Cape Town,ZA,2022-07-14 00:20:03,-33.9258,18.4232,57.88,94,75,17.27
4,4,Faya,SA,2022-07-14 00:21:44,18.3851,42.4509,64.92,60,93,6.06

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [9]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [16]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[['Lat', 'Lng']]

# Get the maximum temperature.
max_temp = city_data_df['Max Temp']

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations,
                                 weights = [max(temp, 0) for temp in max_temp],
                                 dissipating=False,
                                 max_intensity=300,
                                 point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap of percent humidity
locations = city_data_df[['Lat', 'Lng']]

humidity = city_data_df['Humidity']

fig = gmaps.figure(center = (30.0, 31.0), zoom_level= 1.5)

heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=humidity,
                                 dissipating=False, 
                                 max_intensity=300,
                                 point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Heatmap of percent cloudiness
locations = city_data_df[['Lat', 'Lng']]

clouds = city_data_df['Cloudiness']

fig = gmaps.figure(center = (30.0, 31.0), zoom_level= 1.5)

heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=clouds,
                                 dissipating=False, 
                                 max_intensity=300,
                                 point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Heatmap of wind speed
locations = city_data_df[['Lat', 'Lng']]

wind = city_data_df['Wind Speed']

fig = gmaps.figure(center = (30.0, 31.0), zoom_level= 1.5)

heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=wind,
                                 dissipating=False, 
                                 max_intensity=300,
                                 point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input('What is the minimum temperature you would like for your trip? '))
max_temp = float(input('What is the maximum temperature you would like for your trip? '))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [22]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
8,8,Hilo,US,2022-07-14 00:21:46,19.7297,-155.0900,83.28,97,100,8.99
9,9,Jalu,LY,2022-07-14 00:21:47,29.0331,21.5482,79.83,39,0,14.54
14,14,Mangrol,IN,2022-07-14 00:21:49,21.1167,70.1167,80.69,88,100,11.81
23,23,Hami,CN,2022-07-14 00:21:54,42.8000,93.4500,78.39,31,83,17.92
30,30,Thompson,CA,2022-07-14 00:21:58,55.7435,-97.8558,80.76,39,0,11.50
34,34,Mana,GF,2022-07-14 00:22:00,5.6592,-53.7767,76.05,88,100,4.27
37,37,Albany,US,2022-07-14 00:18:54,42.6001,-73.9662,77.65,71,82,4.07
38,38,Bilma,NE,2022-07-14 00:22:02,18.6853,12.9164,88.84,18,5,1.97
47,47,Eirunepe,BR,2022-07-14 00:23:07,-6.6603,-69.8736,78.85,73,94,1.92
50,50,Davila,PH,2022-07-14 00:23:08,18.4726,120.5763,82.38,72,98,9.46

In [23]:
preferred_cities_df.count()

City_ID       191
City          191
Country       191
Date          191
Lat           191
Lng           191
Max Temp      191
Humidity      191
Cloudiness    191
Wind Speed    191
dtype: int64

In [24]:
# Create DataFrame called hotel_df to store hotel names
# along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[['City', 'Country', 'Max Temp', 'Lat', 'Lng']].copy()
hotel_df['Hotel Name'] = ''
hotel_df.head(10)

        City Country  Max Temp      Lat       Lng Hotel Name
8       Hilo      US     83.28  19.7297 -155.0900
9       Jalu      LY     79.83  29.0331   21.5482
14   Mangrol      IN     80.69  21.1167   70.1167
23      Hami      CN     78.39  42.8000   93.4500
30  Thompson      CA     80.76  55.7435  -97.8558
34      Mana      GF     76.05   5.6592  -53.7767
37    Albany      US     77.65  42.6001  -73.9662
38     Bilma      NE     88.84  18.6853   12.9164
47  Eirunepe      BR     78.85  -6.6603  -69.8736
50    Davila      PH     82.38  18.4726  120.5763

In [25]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [26]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [30]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
8,Hilo,US,83.28,19.7297,-155.0900,Hilo Hawaiian Hotel
9,Jalu,LY,79.83,29.0331,21.5482,صاحبة الفخامة
14,Mangrol,IN,80.69,21.1167,70.1167,Hotel The Royal Honours
23,Hami,CN,78.39,42.8000,93.4500,Laoyutang Resort
30,Thompson,CA,80.76,55.7435,-97.8558,Burntwood Hotel
...,...,...,...,...,...,...
559,Bima,ID,80.46,-8.4667,118.7167,Lambitu Hotel
562,Muroto,JP,77.09,33.2833,134.1500,Oota Ryokan
563,Chalmette,US,87.01,29.9427,-89.9634,Marina Inn & Suites Chalmette-New Orleans
564,Barahona,DO,79.23,18.2085,-71.1008,Hotel Caribe
567,Trairi,BR,78.19,-3.2778,-39.2689,janelas do mar

In [33]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [35]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [36]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))